* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
    border: 8px solid lightgreen;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url('https://images.unsplash.com/photo-1503389152951-9f343605f61e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1975&q=80');
}

#clock {
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
}

h2 {
	text-align:center;
}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: white;
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    background-color:lightgreen;
    padding: 10px 20px;
    margin: 0 auto;
}
#clearButton {
    float:right;
    background-color:red;
    margin-top:10px;
}



